.App {
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
form{
  width: 500px;
}
input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #4a5568;
    background-color: #2d3748;
    color: white;
    margin: 5px 0px;
    outline: none;
}
input::placeholder{
  color: lightgrey;
}
